<p>admin works!</p>

<h2>List of what this page should include</h2>

<h3>Should be able to fetch the following</h3>
<ul>
    <li>Orders</li>
    <li>Books</li>
    <li>Users</li>
    <li>Reviews</li>
</ul>
<h3>Should be able to update, delete and create the following</h3>
<ul>
    <li>Orders</li>
    <li>Books</li>
    <li>Users</li>
    <li>Reviews</li>
</ul>

<h3>Extra Notes</h3>
<ul>
    <li>Regarding Books, look into potenially import a csv file and upload it directly to the DB thru the API</li>
    <li>Would need to disect the file, seperate each data string by themselves, then run them induvivually (atm)</li>
</ul>
