<div class="admin-layout">
    <span class="dashboard_buttons">
        <button><a routerLink="users">Users</a></button>
        <button><a routerLink="books">Books</a></button>
        <button><a routerLink="reviews">Reviews</a></button>
        <button><a routerLink="orders">Orders</a></button>
    </span>
    <router-outlet></router-outlet>
    <div *ngIf="showDefaultContent" class="dashboard">
        <span class="title_section">
            <h2></h2>
        </span>
        <div class="api_outlet">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="User ID"></td>
                        <td data-label="First Name"></td>
                        <td data-label="Last Name"></td>
                        <td data-label="Phone"></td>
                        <td data-label="Email"></td>
                        <td data-label="Address"> </td>
                        <td data-label="ZIP"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td data-label="User ID"></td>
                        <td data-label="First Name"></td>
                        <td data-label="Last Name"></td>
                        <td data-label="Phone"></td>
                        <td data-label="Email"></td>
                        <td data-label="Address"> </td>
                        <td data-label="ZIP"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td data-label="User ID"></td>
                        <td data-label="First Name"></td>
                        <td data-label="Last Name"></td>
                        <td data-label="Phone"></td>
                        <td data-label="Email"></td>
                        <td data-label="Address"> </td>
                        <td data-label="ZIP"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
    
</div>