<div class="book-container">
    <div class="book-card">
      <div class="book-header">
        <h1 class="book-title">{{ BookDetails?.title }}</h1>
        <span class="book-id">ID: {{ BookDetails?._id }} </span>
      </div>
      
      <div class="book-details">
        <div class="book-info">
          <p class="book-author">Author: {{ BookDetails?.author }} </p>
          <p class="book-genre">Genre: {{ BookDetails?.genre }}</p>
          <p class="book-description"> {{ BookDetails?.description }} </p>
        </div>
        


        <div class="book-meta">
          <div class="price-stock">
            <span class="book-price">$ {{BookDetails?.price }}</span>
          </div>
          <button class="add-to-cart" (click)="addToCart()">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>