<section class="dashboard">
    <span class="title_section">
        <h2>Orders</h2>
        <span class="button-container">
            <button class="main_button" (click)="toggleCreateForm()">
                Creates
            </button>
            <button class="main_button" > <!-- (click)="refreshOrders()" -->
                Refresh
            </button>
        </span>
    </span>
    <div class="api_outlet">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Book IDs</th>
                    <th>Total Amount</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (orders(); as orders) {
                    @for (order of orders; track order._id) {
                    <tr>
                        <td>{{ order.userId }}</td>
                        <td>{{ order.bookIds?.join(', ') || 'No Books' }}</td>
                        <td>{{ order.totalAmount | currency }}</td>
                        <td>{{ order.orderDate | date }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <button class="edit"  (click)="openEditOrder(order)">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="delete" (click)="onDeleteOrder(order._id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    } @empty {
                        <tr>
                            <td colspan="7">No order found</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Create a new order form -->

    @if (createNewOrder()) {
    <section class="create-form">
        <div class="form-container">
            <h3>Create new Order</h3>
            <form [formGroup]="createForm" (ngSubmit)="onCreateSubmit()"> <!--  -->
                <div class="form-group">
                    <label for="create-userId">User</label>
                    <select id="create-userId" formControlName="userId" required> <!--  -->
                        <option value="">Select a user</option>
                        @for (user of users(); track user._id) {
                            <option [value]="user._id">
                                {{ user.first_name}} {{ user.last_name }} ({{ user.email }})
                            </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Books</label>
                    <div class="books-selection-container">
                        <select #bookSelect id="book-selector"> <!-- [fromControl]="bookSelectorControl"-->
                            <option value="">Select a book</option>
                            @for (book of books(); track book._id) {
                                <option [value]="book._id">{{ book.title }} ({{ book.price | currency }})</option>
                            }
                        </select>
                        <button class="add-book" type="button" (click)="addBookToOrder(bookSelect.value)">Add Book</button> <!-- [disabled]="!bookSelectorControl.value" -->
                    </div>

                    <div class="selected-books-list">
                        @for (selectedItem of getSelectedBookItems(); track selectedItem.bookId) {
                            <div class="book-item">
                                <span>{{ getBookTitle(selectedItem.bookId) }}</span>
                                <div class="quantity-controls">
                                    <button class="main_button" type="button" (click)="decreaseBookQuantity(selectedItem.bookId)">-</button>
                                    <span>{{ selectedItem.quantity }}</span>
                                    <button class="main_button"  type="button" (click)="increaseBookQuantity(selectedItem.bookId)">+</button>
                                    <button type="button" class="remove-btn" (click)="removeBook(selectedItem.bookId)">×</button>
                                </div>
                            </div>
                        } @empty {
                            <div class="book-item">
                                <span>No Books Selected</span>
                            </div>
                        }
                    </div>

                    <div class="form-actions">
                        <button type="button" (click)="toggleCreateForm()" class="cancel">Cancel</button>
                        <!-- <div *ngIf="!createForm.valid" class="error-message">
                            Form is invalid. Errors: {{ createForm.errors | json }}
                            User valid: {{ createForm.get('userId')?.valid }}
                            Books valid: {{ createForm.get('bookItems')?.valid }}
                        </div> -->
                        <button type="submit" class="save" [disabled]="!createForm.valid">Submit Changes</button> <!--    [disabled]="!createForm.valid"-->
                    </div>
                </div>
            </form>
        </div>
    </section>
    }


    <!-- Edit an existing form -->
    @if (editExistingOrder()) {
        <section class="edit-form">
            <div class="form-container">
                <h3>Edit Existing Order</h3>
                <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
                    <div class="form-group">
                        <label for="edit-userId">User</label>
                        <select id="edit-userId" formControlName="userId" required>
                            <option [value]="selectedOrder()?.userId" selected>
                                {{ getSelectedUserName() }}
                            </option>
                            @for (user of users(); track user._id) {
                                @if (user._id !== selectedOrder()?.userId) {
                                    <option [value]="user._id">
                                        {{ user.first_name}} {{ user.last_name }} ({{ user.email }})
                                    </option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Books</label>
                        <div class="books-selection-container">
                            <select #bookSelect id="book-selector">
                                <option value="">Select a book</option>
                                @for (book of books(); track book._id) {
                                    <option [value]="book._id">{{ book.title }} ({{ book.price | currency }})</option>
                                }
                            </select>
                            <button class="add-book" type="button" (click)="addBookToOrder(bookSelect.value)">Add Book</button>
                        </div>

                        <div class="selected-books-list">
                        @if (getSelectedBookItems()) {
                            @for (selectedItem of getSelectedBookItems(); track selectedItem.bookId) {
                                <div class="book-item">
                                    <span>{{ getBookTitle(selectedItem.bookId) }}</span>
                                    <div class="quantity-controls">
                                        <button class="main_button" type="button" (click)="decreaseBookQuantity(selectedItem.bookId)">-</button>
                                        <span>{{ selectedItem.quantity }}</span>
                                        <button class="main_button" type="button" (click)="increaseBookQuantity(selectedItem.bookId)">+</button>
                                        <button type="button" class="remove-btn" (click)="removeBook(selectedItem.bookId)">×</button>
                                    </div>
                                </div>
                            } @empty {
                                <div class="book-item">
                                    <span>No Books Selected</span>
                                </div>
                            }
                        }
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="button" (click)="cancelEdit()" class="cancel">Cancel</button>
                        <button type="submit" class="save" [disabled]="!editForm.valid">Save Changes</button>
                    </div>
                </form>
            </div>
        </section>
    }

    
</section>
<br />