<main class="wrapper">
    <section class="upper_section">
        <h2>Welcome to BOOK STORE TITLE</h2>
        <h4>Discover your next favorit book from our vast collection</h4>
        <div class="dropdown" [class.active]="isShopDropdownOpen">
            <button (click)="toggleShopDropdown()">Browse Books</button> <!-- Same functionallity as the header "books" -->
            <div class="dropdown-content" If="isShopDropdownOpen">
                @for (bookGenre of bookGenres; track $index) {
                <a (click)="navigateToGenre(bookGenre)">{{ bookGenre }}</a> <!-- routerLink]="bookGenre" -->
                }
            </div>
        </div>
    </section>
    <br />  
    <section class="lower_section">
        <h2>Featured Books</h2>
        <!-- (on viewport), defualt, (on timer(500ms)), on debugg mode-->
        @defer (on timer(500ms)) {
        <div class="book_container">
            @for (book of displayedBooks; track book._id) {
                <button class="book_card" [routerLink]="book._id"> <!-- Change this route so it goes with a function inside the .ts component part -->
                    <h3>{{ book.title }}</h3>
                    <h4>€ {{ book.price }}</h4>
                </button>
            }
        </div>
        } @placeholder {
            <div class="loading_container">
                <p class="loading_circle"></p> <!-- Add animation to the loading data -->
            </div>
        } @loading {
            <div class="loading_container">
                <p class="loading_circle"></p> <!-- Add animation to the loading data -->
            </div>
        } @error {
            <div class="loading_container">
                <p>Failed to load Books. Please reload the page! </p>
            </div>
        }
    </section>
</main>