<header>
  <div class="header-container">
    <a routerLink="/" class="logo"><i class="fas fa-book-open"></i>Bookstore<span>Title</span></a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li class="dropdown" [class.active]="isShopDropdownOpen">
          <a (click)="toggleShopDropdown()">Books <i class="fas fa-chevron-down"></i></a>
          <!-- Make this dynamic -->
          <div class="dropdown-content" If="isShopDropdownOpen">
            @for (ShopDrop of ShopDropDown; track $index) {
              <a (click)="closeShopDropdown()" [routerLink]="ShopDrop.link">{{ ShopDrop.label }}</a>
            }
          </div>
        </li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li class="search-container">
          <!-- <a (click)="toggleSearch()"><i class="fas fa-search"></i></a>
          <div class="search-box" *ngIf="isSearchOpen">
            <input 
              type="text" 
              [(ngModel)]="searchQuery" 
              placeholder="Search books..."
              (keyup.enter)="onSearch()"
            >
            <button (click)="onSearch()">Search</button>
          </div> -->
        </li>
        <a class="user-icon" routerLink="/user"><i class="fa-solid fa-circle-user"></i></a>
      </ul>
    </nav>
  </div>
</header>