<header>
  <div class="header-container">
    <a routerLink="/" class="logo"><i class="fas fa-book-open"></i>Bookstore<span>Title</span></a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li class="dropdown" [class.active]="isShopDropdownOpen">
          <a (click)="toggleShopDropdown()">Books <i class="fas fa-chevron-down"></i></a>
          <!-- Make this dynamic -->
          <div class="dropdown-content" If="isShopDropdownOpen">
            @for (ShopDrop of ShopDropDown; track $index) {
              <a (click)="closeShopDropdown()" [routerLink]="ShopDrop.link">{{ ShopDrop.label }}</a>
            }
          </div>
        </li>
        <li><a routerLink="/contact">Contact</a></li>
        <li></li>
        <a class="user-icon"><i class="fa-solid fa-cart-shopping"></i></a>
      </ul>
    </nav>
  </div>
</header>