<main class="wrapper">
    <section class="upper">
        <h2>Selected Genre</h2>
        <p>Description of the genre</p>
    </section>
    <div class="divider"></div>
    <section class="book_wrapper">
        @for (selectedBook of selectedBooks; track $index) {
            <div class="book_card">
                <a [routerLink]="['/book', selectedBook.id]"><h2>{{ selectedBook.title }}</h2></a>
                <a [routerLink]="['/book', selectedBook.id]"><h3>By {{ selectedBook.author }}</h3></a>
                <a [routerLink]="['/book', selectedBook.id]"><h4>€ {{ selectedBook.price }}</h4></a>
                <button (click)="addToCart($event)">Add to Cart</button>
            </div>
        }
    </section>
</main>