<main class="wrapper">
    <section class="upper">
    @defer (on timer(500ms)) {
        <h2>{{ genre() }}</h2>
    } @placeholder {
        <div class="loading_container">
            <p class="loading_circle"></p> <!-- Add animation to the loading data -->
        </div>
    } @loading {
        <div class="loading_container">
            <p class="loading_circle"></p> <!-- Add animation to the loading data -->
        </div>
    } @error {
        <div class="loading_container">
            <p>Failed to load Books. Please reload the page! </p> <!-- Add Error box-->
        </div>
    }
    </section>
    <div class="divider"></div>

    <section class="book_wrapper">
    @defer (on timer(500ms)) {    
        @for (book of BookList; track book._id) {
            <div class="book_card">
                <a (click)="navigateToSpecificBook(book.title)"><h2>{{ book.title }}</h2></a> <!-- updated to .id when the API has been upgraded -->
                <a (click)="navigateToSpecificBook(book.title)"><h3>By {{ book.author }}</h3></a>
                <a (click)="navigateToSpecificBook(book.title)"><h4>€ {{ book.price }}</h4></a>
                <button (click)="addToCart(book)">Add to Cart</button>
            </div>
        }
    } @placeholder {
        <div class="loading_container">
            <p class="loading_circle"></p> <!-- Add animation to the loading data -->
        </div>
    } @loading {
        <div class="loading_container">
            <p class="loading_circle"></p> <!-- Add animation to the loading data -->
        </div>
    } @error {
        <div class="loading_container">
            <p>Failed to load Books. Please reload the page! </p> <!-- Add Error box-->
        </div>
    }
    </section>


</main>