<main class="wrapper">
    <section class="upper">
        <h2>Selected Genre</h2>
        <p>Description of the genre</p>
    </section>
    <div class="divider"></div>
    <section class="book_wrapper">
        @for (selectedBook of selectedBooks; track $index) {
            <div class="book_card" [routerLink]="selectedBook.link">
                <h2>{{ selectedBook.title }}</h2>
                <h3>By {{ selectedBook.author }}</h3>
                <h4>€ {{ selectedBook.price }}</h4>
                <button (click)="addToCart($event)">Add to Cart</button>
            </div>
        }
    </section>
</main>